extends ../shared/template

block content
  h1 Team 1: #{team1.name} 
  h2 Team 2: #{team2.name}
  h1 Sport: #{meetup.sportName}
  h1 City: #{meetup.city}
  h1 Loyalty: #{loyalty.name}
  h1 Attendees: #{attendees}
