extends ../shared/template

block content
  h4= title
  //h1 Team 1: #{team1.name}
  //h2 Team 2: #{team2.name}
  //h1 Sport: #{meetup.sportName}
  //h1 City: #{meetup.city}
  //h1 Loyalty: #{loyalty.name}
  //h1 Attendees: #{attendees}
  #top
    .small-4.columns
      #author Author
        p #{user.name}
    .small-4.columns
      #teamL Loyalty
        p #{meetup.loyalty}
    .small-4.columns
      //#league League
        //p NFL
        //img#leagueImg
      #league Sport
        p(style='text-transform:capitalize;') #{meetup.sportName}
    .row
      .small-12.columns
        #teamsVsM
          #team1M
            p #{team1}
            //#cityM Tennessee
          .vsM
          #team2M
            p #{team2}
            //#city2M Green Bay
          #dateTime Date/Time
            p #{dateTime}
          #citta City
            //p "Nashville"
  #bottom
    .small-6.columns
      #barImg
        img#barPic
    .small-6.columns
      //#barName
        //p Jed's Sports Bar & Grille
      #address
        p #{meetup.place}
      #sportMap
        img#mapPic

